
<!-- image Section -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5">
            <div class="image">
                <img src="assets/images/img2.png" alt="" class="img-fluid">
            </div>
        </div>

        <!-- form Section  -->
        <div class="col-sm-7">
            <div class="card">
                <h5>Add Contact</h5>
                <div class="row">
                    <form [formGroup]="contactForm">
                       

                        <div class="form-group mb-1">
                            <label for="exampleInputEmail1">First Name</label>
                            <input type="text" class="form-control" formControlName="firstname" placeholder="Enter First Name">
                          </div>

                          <div class="form-group mb-1">
                            <label for="exampleInputEmail1">Last Name</label>
                            <input type="text" class="form-control" formControlName="lastname" placeholder="Enter Last Name">
                          </div>

                          <div class="form-group mb-1">
                            <label for="exampleInputEmail1">Phone Number</label>
                            <input type="number" class="form-control" formControlName="phonenumber" placeholder="Enter Phone number">
                          </div>
                        
                          <div class="form-group mb-1">
                            <label for="exampleInputEmail1">City</label>
                            <input type="text" class="form-control" formControlName="city" placeholder="Enter city">
                          </div>

                          <div class="text-center mt-2">
                            <button type="submit" class="btn btn-primary" (click) = "submitContact(this.contactForm.value)" [disabled]="this.contactForm.invalid" >Submit</button>&nbsp;
                            <button type="submit" class="btn btn-success" routerLink="/contactlist">Back</button>
                          </div>

                       
                      </form>

                </div>
            </div>


        </div>
    </div>
</div>